modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Expo"

[[workflows.workflow]]
name = "Start Expo"
author = 49057490
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --clear"

[[ports]]
localPort = 8081
externalPort = 3000

[[ports]]
localPort = 8082
externalPort = 80

[[ports]]
localPort = 8083
